{# AdminBundle:User:user.html.twig
=========================================
------Template to show user profile-----#}

{% extends ':Blog/Page:nonews.html.twig' %}

{% block text %}
    <div class="account">
        {% if user.userAccount!= null %}
            {% if user.userAccount.avatar != null %}
                <div class="account__row">
                    <div class="account__container">
                        <img class="account__avatar" src="{{ asset('uploads/users/' ~ user.userAccount.avatar.name) }}">
                    </div>
                </div>
            {% endif %}
        {% endif %}
        <div class="account__row account__navigation">        
            <div class="account_name">логин: {{ user.username }}</div>
            {% if is_granted('ROLE_ADMIN') %}           
                <a class="button button_orange button_small" href="{{ path('admin') }}">
                    Админка
                </a>
            {% endif %}
        </div>
        <div class="account__row">e-mail: {{ user.email }}</div>
        <div class="account__row">роль: {{ user.role.name }}</div>
        {% if user.userAccount!= null %}
            <div class="account__row">имя: {{ user.userAccount.firstName }}</div>
            <div class="account__row">Фамилия: {{ user.userAccount.lastName }}</div>
            <div class="account__row">День рождения: {{ user.userAccount.birthday|date }}</div>
            <div class="account__row">пол: {{ user.userAccount.gender }}</div>
        {% endif %}
        <div class="account__row account__navigation">
            <a class="button button_orange button_small" 
               href="{{ path('news_sorted', { 'category': 'author', 'value': user.username, 'page': 1 }) }}">
                Статьи от пользователя
            </a>  
            {% if is_granted('ROLE_USER') %}
                {% if (app.user.username == user.username)or(is_granted('ROLE_ADMIN')) %}
                    <a class="button button_orange button_small" 
                       href="{{ path('account_edit', { 'username': user.username}) }}">
                        Добавить информацию
                    </a>        
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}
