{# ----AppBundle:Blog:News:news.html.twig----
=================================================
Template to show page with one article detailed #}

{% extends ':Blog:blog_base.html.twig' %}

{% block content %}
    <!-- article -->
    <div class="content">
        <div class="inner inner_red">
            <div class="inner__border">
                <a class="button button_orange button_small button_to-return" href="{{ path('main') }}">                    
                    Назад
                </a>
                <div class="article">
                    <div class="article__row article__title">
                        {{ article.title }}
                    </div>
                    <div class="article__row article__head-info">
                        <a class="article__theme button button_orange button_small"
                           href="{{ path('news_sorted', { 'category': 'theme', 'value': article.theme, 'page': 1 }) }}">                       
                            #{{ article.theme }}
                        </a>
                        <a class="article__author button button_orange button_small" 
                           href="{{ path('user', { 'username': article.author.username }) }}">                      
                            Автор: {{ article.author.username }}
                        </a>
                    </div>
                    <div class="article__row article__date">
                        создано: {{ article.created|date }}
                    </div>
                    <div class="article__row article__image-container">
                        <img class="article__image"src="{{ asset('uploads/images/' ~ article.image.path) }}">
                    </div>
                    <div class="article__row article__description">
                        {{ article.description }}
                    </div>
                    {% if article.isUpdated %}
                        <div class="article__row article__date">
                            отредактировано: {{ article.updated|date }}
                        </div>
                    {% endif %}
                </div>
                {% block comment_error %}
                {% endblock %}
                <!-- foot navigation -->
                <div class="article__row article__navigation">
                    {% if (is_granted('ROLE_MODERATOR')) or (app.user == article.author) %}
                        <a class="button button_orange button_small button_to-edit" href="{{ path('news_edit',{ 'id': article.id }) }}">
                            редактировать &#10000;
                        </a>
                    {% else %}
                        <div></div>
                    {% endif %}
                    <a class="button button_orange button_small button_to-comment" href="{{ path('comment_add', { 'id': article.id }) }}">
                        комментировать
                    </a>
                </div>
            </div>
        </div>

        <!-- comments -->

        {% block comment_form %}
        {% endblock %}
        {% block comments %}
            {% include ':Blog/News:comments.html.twig' %}
        {% endblock %}
    </div>
{% endblock %}

{% block sidebar %}
    {% include 'sidebar.html.twig' %}
{% endblock %}
