{# AppBundle:Blog:Page:index.html.twig
==========================================
-------authorisation information---------#}
{% extends ":Blog:blog_base.html.twig" %}

{# ----->content<------- #}
{% block content %}
    <div class="content">
        <div class="inner inner_red">
            <div class="page__welcome inner__border">
                {% block sort %}
                    Рады вас приветствовать на нашем сайте!
                {% endblock %}
                {% if is_granted('ROLE_EDITOR') %}
                    <a class="button button_add" href=" {{ path('article_create') }}">&#10010;</a>
                {% endif %}
            </div>
        </div>
        {% if (articles|length) >0 %}
            {% for article in articles %}
                <div class="inner inner_red">
                    <div class="inner__border">
                        <div class="article">
                            <a class="article__row article__title article__title_to-detail" 
                               href="{{ path('show_news', { 'id': article.id}) }}">
                                {{ article.title }}
                            </a>
                            <div class="article__row article__head-info">
                                <a class="article__theme button button_orange button_small"
                                   href="{{ path('news_sorted', { 'category': 'theme', 'value': article.theme, 'page': 1 }) }}">                                 
                                    #{{ article.theme }}
                                </a>
                                <a class="article__author button button_orange button_small" 
                                   href="{{ path('user', { 'username': article.author.username }) }}">                           
                                    автор: {{ article.author.username }}
                                </a>
                            </div>
                            <div class="article__row article__date">
                                создано: {{ article.created|date }}
                            </div>
                            <a class="article__row article__image-container" href="{{ path('show_news', { 'id': article.id }) }}">
                                <img class="article__image" 
                                     src="{{ asset('uploads/images/' ~ article.image.path) }}">
                            </a>
                            <div class="article__row article__description">
                                {{ article.description }}
                            </div>
                            {% if article.isUpdated %}
                                <div class="article__row article__date">
                                    отредактировано: {{ article.updated|date }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="article__row article__navigation">
                            <div>
                                <a class="button button_orange button_to-detail button_small" href="{{ path('show_news', { 'id': article.id }) }}">
                                    подробнее
                                </a>
                            </div>
                            <div>
                            <a class="button button_orange button_to-comment button_small" href="{{ path('comment_add', { 'id': article.id }) }}">
                                комментировать
                            </a>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
            {% endfor %}
        {% else %}
            <div class="inner inner_red">
                <div class="inner__border">
                    Нет статей!
                </div>
            </div>
        {% endif %}
        {% if pageCount > 1 %}
            {% for page in 1..pageCount %}
                {% block page_link %}
                    <a href="{{ path('show_page', { 'page': page }) }}">{{ page }}</a>
                {% endblock %}
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}

{# ----->sidebar<------- #}
{% block sidebar %}
    {% include 'sidebar.html.twig' %}
{% endblock %}
