{# ----AppBundle:Admin:User:users.html.twig----
====================================================
Template to show for admins all users in data base#}

{% extends ':Admin:admin_base.html.twig' %}

{% block content %}
    <div class="admin-list">
        <div class="admin-list__row">
            <a class="admin-list__item button button_orange button_to-return"
               href="{{ path('admin') }}">
                Назад
            </a>
        </div>
        <div class="admin-list__row">
            <a class="admin-list__item button button_service"
               href="{{ path('user_create') }}">
                &#10010;
            </a>
        </div>
        <hr>
        {% for user in users %} 
            <div class="admin-list__row">
                <a class="admin-list__item button button_service"
                   href="{{ path('user', { 'username': user.username }) }}">
                    {{ user.username }}
                    {{ user.role.name }}
                </a>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <a class="admin-list__item button button_serivce"
                       href="{{ path('admin_users_delete', { 'id': user.id }) }}">
                        &#10006;
                    </a>
                {% endif %}
            </div>
        {% endfor %}
        <hr>
    </div>
{% endblock %}

{% block admin_side %}
    User side
{% endblock %}